.container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 1120px;
}
.map-wrapper {
  width: 100%;
  padding-top: 50%;
  position: relative;
  > div {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}
.marker-properties {
  max-height: 200px;
  overflow-y: auto;
  margin-bottom: 50px;
}