.modal {
  top: 0;
  left: 0;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 16;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  &.active {
    transform: translateX(0%);
  }
  &-content {
    background: white;
    width: 100%;
    max-width: 500px;
    padding: 30px;
    margin: 0 8px;
    position: relative;
  }
  &-data {
    margin: 0;
  }
  &-close {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    > img {
      height: auto;
      display: block;
      width: 100%;
    }
  }
  h2 {
    margin-top: 0;
  }
}